<% if @cart_items.data.count > 0 %>
  <% @cart_items.data.each do |item, quantity| %>
    <div class="cart-item">
      <div class="item">
        <%= item.name %>
      </div>
      <div class="quantity">
        <%= quantity %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>Your cart is empty!</p>
<% end %>
